@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800');

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
 html{
    position: relative;
    height: 100%;
 }
body {
    background-color: #f1f3f5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /*width: 1440px;   for test with pixel perfect */
}

a {
    text-decoration: none;
}

header {
    position: relative;
    display: block;
    background-color: #fff;
    height: 63px;
    vertical-align: top;
    min-width: 100%;
    font-size: 0;
}

    header .logo {
        padding: 20px 0 0 46px;
        color: #354e66;
        font-size: 18px;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.15px;
        display: inline-block;
        vertical-align: top;
    }
    
    header .topShadow{
		position: absolute;
		display: block;
		top: 63px;
		width: 100%;
		height: 30px;
		box-shadow: inset 0 30px 30px -30px #d5d5d5;
	}
    
    header nav {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        margin-left: 30px;
    }
    
        header nav a {
            text-transform: uppercase;
            color: #354e66;
            font-size: 15px;
            letter-spacing: 1px;
            display: inline-block;
            height: 63px;
            padding: 22px 19px 0px 20px;
            margin: 0 0px 0 10px;
        }
    
        header nav a:hover, header nav a.selected {
            border-bottom: 2px solid #354e66;
        }

    header .burger {
        position: absolute;
        top: 16px;
        left: -250px;
        display: inline-block;
        height: 24px;
        width: 24px;
        padding-top: 2px;
        color: #000;
        font-size: 26px;
        font-weight: bold;
    }
    
    header .burger input {
        margin-top: 3px;
        height: 27px;
        width: 25px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        cursor: pointer;
    }
    
    .burgerMenu {
        display: block;
        position: absolute;
        padding: 20px;
        top: -1000px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition-timing-function: ease-out;
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .burgerMenu .center {
        position: relative;
    }
    
    
    .burgerMenu .center a {
        display: block;
        font-family: Open Sans, arial;
        font-size: 24px;
        color: #fff;
    }
    


aside {
    position: absolute;
    top: 64px;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    max-width: 249px;
    background-color: #354e66;
    font-size: 0;
    min-height: 600px;
    padding-bottom: 70px;
}
    
    aside .container{
        min-height: 100%;
        position: relative;
        padding-bottom: 55px;    
    }
    
    aside .menu {
        margin-top: 34px;
        display: block;
    }
    
        aside .menu a {
            display: block;
            font-size: 16px;
            color: #9bb6cc;
            padding: 14px 0 14px 31px;
            border-left: 2px solid transparent;
            height: 42px;
        }
        
        aside .menu a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-left: 2px solid #fff;
        }
        
        aside .menu a.selected {
            color: #fff;
        }
    
    aside .profile {
        min-height: 84px;
        min-width: 84px;
        text-align: center;
        margin-bottom: 23px;
    }
    
        aside .profile img {
            margin: 36px 84px 12px 80px;
            border-radius: 50%;
            height: 84px;
            width: 84px;
        }
        
        aside .profile a {
            font-size: 14px;
            color: #9bb6cc;
            letter-spacing: 0.9px;
        }
    
    aside .profile~a {
        display: block;
        margin: 0 44px 0px 41px;
        width: 164px;
        height: 42px;
        background-color: #fff;
        border-radius: 2px;
        font-size: 16px;
        color: #354e66;
        padding-top: 9px;
        padding-left: 3px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
    }
    
    aside .log-in-out {
        position: absolute;
        height: 0;
        width: 100%;
        bottom: 0;
        left: 33px;
        font-size: 16px;
        color: #9bb6cc;
    }
    
        aside .log-in-out a {
            font-size: 16px;
            color: #9bb6cc;
        }
        
    .dashboard-message-box {
        position: fixed; 
        top: 50px; 
        left: 0; 
        right: 0; 
        margin: 0 auto;
        width:300px;
        padding: 10px 20px;
        border-radius: 10px 0 10px 10px; 
        border: 1px solid #000;
        background-color: rgba(255,255,200,0.9);
        transition: 1s;
        opacity: 0;
        z-index: 3;       
    }    
    
    .dashboard-message-box .close {
        position: absolute; 
        top: 1px; 
        right: 1px; 
        border: -10px solid #000;
        border-radius: 3px 0 3px 3px; 
        width: 18px;
        height: 18px;
        line-height:16px;
        font-weight: 900;
        padding-bottom:0;
        font-family: Open Sans, arial;
        background-color: rgba(255,100,100,0.8);
        text-align:center;
        color: #fff;
        font-size:24px;
        transition: 0.2s;
    }    
    
    .dashboard-message-box .close:hover {
        background-color: rgba(255,100,100,1);
    }

main {
    top: 64px;
    margin-left: 249px;
    display: block;
    vertical-align: top;
    font-size: 0;
    box-shadow: inset 0 7px 30px 3px #e9eaec;
    text-align: center;
    padding: 0 20px 0 20px;
}
    
    main .middle {
		padding: 42px 15px 39px 20px;
        display: inline-block;
        vertical-align: top;
        max-width: 610px;
    }
        
        main .middle .inbox {
            display: block;
            background-color: white;
            border-top: 1px solid #fff;
            border-left: 1px solid #eaecee;
            border-bottom: 1px solid #dfe1e3;
            border-right: 1px solid #dfe1e3;
            text-align: left;
            border-radius: 3px;
            width: 100%;
            min-width: 242px;
            max-width: 522px;
            min-height: 180px;
            margin-right: auto; 
            margin-left: auto;    
            padding-bottom: 20px;
        }
        
            main .middle .inbox img {
                margin: 7px 12px 0 17px;
                display: inline-block;
                vertical-align: top;
                width: 25px;
                height: 25px;
            }
            
            main .middle .inbox p {
                margin-top: 8px;
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 16px;
            }
            
            main .middle .inbox_text {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 14px;
                display: inline-block;
                padding: 27px 30px 2px 32px;
                line-height: 22px;
                letter-spacing: 0.3px;
            }
            
            main .middle .inbox .more_inbox_text {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 14px;
                display: inline-block;
                line-height: 22px;
            }
        
            main .middle .inbox a.read_more {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                font-size: 14px;
                display: block;
                margin-left: 31px;
                margin-top: 8px;
                letter-spacing: 0.3px;
            }
        
        main .middle figure {
            position : relative;
            display: inline-block;
            margin: 35px 10px 10px 10px;
            width: 242px;
            height: 282px;
            background-color: #fff;
            border-top: 1px solid #fff;
            border-left: 1px solid #eaecee;
            border-bottom: 1px solid #dfe1e3;
            border-right: 1px solid #dfe1e3;
            border-radius: 3px;
            text-align: left;
            overflow: hidden;
        }
        
        main .middle figure a { color: #000;}
        
        main .middle figure img {
            min-width: 240px;
            height: 229px;
            display: block;
            margin-left: auto;
            margin-right: auto;            
        }
        
            main .middle figure figcaption {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 16px;
                margin-top: 14px;
                margin-left: 20px;
                letter-spacing: 0.3px;
            }

        main .middle figure .delete {
            position: absolute;
            right: 8px;
            top: 10px;
            z-index: 2;
            border-radius : 50%;
            width: 24px;
            height: 24px;
            line-height: 20px;
            border: 1px solid rgba(255,200,200,0.7);
            background-color: rgba(255,0,0,0.7);
            opacity: 0;
            color: rgba(255,255,255,0.8);
            font-size: 40px;
            text-align: center;
            font-weight: 900;
            transition: 0.2s;
        }
        
         main .middle figure:hover .delete {
            opacity: 0.8;
        }            
               
        
        main .middle figure .delete:hover {
            cursor: pointer;
            border: 1px solid rgba(255,200,200,1);
            background-color: rgba(255,0,0,1);      
            opacity: 0.95;
            color: #fff;
       }
    main .right_side {
		padding: 37px 20px 39px 20px;
        width: 100%;
        max-width: 565px; /* 520 */
        display: inline-block;
    }
    
        main .right_side .figure {
            width: 242px;
            height: 93px;
            display: inline-block;
            vertical-align: top;
            margin-left: 0;
            background-color: #fff;
            border-top: 1px solid #fff;
            border-left: 1px solid #eaecee;
            border-bottom: 1px solid #dfe1e3;
            border-right: 1px solid #dfe1e3;
            border-radius: 3px;
            text-align: left;
        }
    
            main .right_side .figure .frame {
                display: inline-block;
                border-radius: 3px 0 0 3px;
                left: 0;
                margin: 0;
                width: 95px;
                height: 91px;
                vertical-align: top;
            }
            
        main .right_side .figure:nth-child(even) {
            margin-left: 35px;
        }
        
        main .right_side .figure:nth-child(even) .frame {
            background-color: #20c997;
            padding-top: 28px;
            padding-left: 21px;
            margin-right: 19px;
        }
        
        main .right_side .figure:nth-child(odd) .frame {
            background-color: #9775fa;
            padding-top: 30px;
            padding-left: 27px;
            margin-right: 20px;
        }
    
            main .right_side .figure .details {
                display: inline-block;
                margin-top: 1px;
                margin-left: 3px;
            }
                
                main .right_side .figure .details h1 {
                    display: block;
                    margin-top: 10px;
                    margin-bottom: 0;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 400;
                    font-size: 35px;
                }
                
                main .right_side .figure .details p {
                    display: block;
                    margin-top: 0;
                    margin-left: 1px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: -0.95px;
                }
    
        main .right_side #donutchart {
            display: block;
            line-height: 40px;
            width: 521px;
            height: 401px;
            margin-top: 43px;
            border-top: 1px solid #fff;
            border-left: 1px solid #eaecee;
            border-bottom: 1px solid #dfe1e3;
            border-right: 1px solid #dfe1e3;    
            background-color: #fff;
        }
        

	.showArticle {
		position: relative;
		width: 100%;
		max-width: 768px;
		background-color: #fff;
		display:  inline-block;
		text-align: left;
		margin-top: 40px;
		border-radius: 10px;
		z-index: 10001;
	}

		.showArticle .header {
			display: block;
			height: 260px;
			width: 100%;
			color: #fff;
			min-width: 200px;
			background-color: #000;
			background: url(../img/article_header.jpg) no-repeat center center scroll; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			border-radius: 5px 5px 0 0;
		}

		.showArticle .main {
		    position: relative;
			display: block;
			width: 100%;
			min-width: 250px;
			min-height: 200px;
			background-color: #fff;
			border-radius: 0 0 5px 5px;
		}
		
		.showArticle .main.readArticle {
			padding: 30px 78px 42px 74px;
		    display: inline-block;
			width: 100%;
			position: relative;
		}
		

		.showArticle .main.readArticle .commets h3 {
			color: #343a40;	
			font-size: 14px;
			font-weight: 600;
			margin-top: 12px;
			margin-bottom: 44px;			
			text-transform: uppercase;	
			padding: 30px 0;
			border-top: 1px solid #d6d6d6;
			border-bottom: 1px solid #d6d6d6;
			width: 100%;
			clear: both;
		}

        .showArticle .main.readArticle .commets h3 .rightBox {
            float: right;
        }

		.showArticle .main.readArticle .commets h3 .rightBox #commentOrder {
			padding: 2px 4px;
		}
		
		.showArticle .main.readArticle .commets h3 .rightBox select#perPage {
			padding: 2px 0;
			width: 50px;
		}
		
		.showArticle .main.readArticle .commets h3 .rightBox select#statusType {
			padding: 2px 4px;
			width: 100px;
		}
        
        .showArticle .main.readArticle .commets .pagination {
            font-size: 20px;
        }
        
		.showArticle .main.readArticle .commets figure {
			position: relative;
			display: flex;
			left: 0;
			width: 100%;
			padding-right: 40px;
			margin-bottom: 30px;
			align-items: flex-start;
		}

			.showArticle .main.readArticle .commets figure div.profile {
				display:  inline-block;
				vertical-align: top;
				width: 72px;
				padding: 0 0 0 1px;
			}
				.showArticle .main.readArticle .commets figure div.profile img {
					margin-top: 15px;
					height: 72px;
					width: 72px;
					border-radius: 50%;
				}
			
			.showArticle .main.readArticle .commets figure div.details {
				display: inline-block;
				padding: 20px 20px 0 26px;
				word-wrap: break-word;
				width: 100%;
			}

				.showArticle .main.readArticle .commets figure div.details h4 {
					width: 100%;
					color: #343a40;	
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0.3px;
					clear: both;
				}
				
				.showArticle .main.readArticle .commets figure div.details h4 span {
					position: absolute;
					top: 15px;
					right: 30px;
				}
				
				.showArticle .main.readArticle .commets figure div.details h4 span a {
					width: 18px;
					height: 18px;
					font-size: 18px;
					display: inline-block;
					transition: 0.2s;
					cursor: pointer;
				}
				
				.showArticle .main.readArticle .commets figure div.details h4 span a:hover {
					transform: scale(1.5);
				}				

				.showArticle .main.readArticle .commets figure div.details > p {
					margin-top: 12px;
					line-height: 26px;
					color: #06090b;
					font-size: 14px;	
				}
				
				.showArticle .main.readArticle .commets figure div.details > p > span {
					position: absolute;
					bottom: 3px;
					right: 30px;
					font-size: 10px;
				}				
				
				.showArticle .main.readArticle .commets figure div.details #show_more {
					display: block;
					text-align: center;
				}		

		
		.showArticle .main.editArticle {
		    position: relative;
			display: inline-block;
			width: 100%;
			font-family: 'Source Sans Pro', sans-serif;		    
			padding: 30px 31px 42px 43px;
		}		

			.showArticle .main.editArticle input {
				display: block;
				height: 46px;
				width: 100%;
				max-width: 657px;
				font-size: 30px;
				margin-top: 20px;
				margin-bottom: 7px;
				font-weight: 600;
				padding: 3px 10px 0 15px;
				margin-left: 12px;
				border: 1px solid #dfe0e4;
				border-radius: 5px;
			}
			
			.showArticle .main.editArticle textarea {
				display: block;
				height: 46px;
				width: 100%;
				max-width: 657px;
				height: 305px;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				padding: 12px 10px 0px 20px;
				margin-left: 12px;
				border: 1px solid #dfe0e4;
				border-radius: 5px;
				letter-spacing: -0.45px;
				font-family: 'Open Sans', sans-serif;
				resize: none;
			}			
			
			.showArticle .main.editArticle input:focus, .showArticle .main.editArticle textarea:focus {
				border: 1px solid #354e66;
			}
			
			.showArticle .main.editArticle select {
			    position: absolute;
			    top: 12px;
			    left: 60px;
			}
			
			.showArticle .main.editArticle button {
				position: absolute;
				right: 55px;
				top: 22px;
				border-radius: 5px;
				background-color: #5dc87f;
				color: #fff;
				height: 34px;
				width: 150px;
				font-size: 14px;
				line-height: 20px;
				border: none;
				cursor: pointer;
				text-transform: none;
			}
			
			.showArticle .main.editArticle button:hover {
				background-color: #2da85f;
			}
			
			.showArticle .main.editArticle button:active {
				top: 23px;
				background-color: #0d984f;
			}		
			
			.showArticle .main.editArticle input[type=submit] {
				position: absolute;
				right: 55px;
				font-weight: 400;
				top: 22px;
				border-radius: 5px;
				background-color: #5dc87f;
				color: #fff;
				height: 34px;
				margin: 0;
                padding: 0;
				width: 150px;
				font-size: 14px;
				line-height: 20px;
				border: none;
				cursor: pointer;
				text-transform: none;
			}
			
			.showArticle .main.editArticle input[type=submit]:hover {
				background-color: #2da85f;
			}
			
			.showArticle .main.editArticle input[type=submit]:active {
				top: 23px;
				background-color: #0d984f;
			}	
			
			.showArticle .main h1 {
				font-size: 14px;
				color: #385165;
				text-transform: uppercase;
				font-weight: 600;
				font-family: 'Source Sans Pro', sans-serif;				
			}

			.showArticle .main.editArticle h1 {
			    padding-top: 10px;
				padding-left: 32px;
			}

			.showArticle .main.readArticle a.edit {
				position: absolute;
				top: 28px;
				right: 72px;
				color: #3348c8;
				text-transform: none;
				text-decoration: underline;
				font-size: 14px;
				font-weight: 400;
				font-family: 'Open Sans', sans-serif;
				letter-spacing: 0;
				transition: 0.2s;
			}

			.showArticle a:hover{
				text-shadow: 2px 2px 4px rgba(56,80,220, 0.8);
			}

			.showArticle .main.readArticle article{
				display: block;
				margin-top: 25px;
			}

				.showArticle .main.readArticle article h2{
					display: block;
					color: #030303;
					font-weight: 600;
					font-size: 32px;
					letter-spacing: 0.5px;
					font-family: 'Source Sans Pro', sans-serif;
				}

				.showArticle .main.readArticle article p{
					display: block;
					color: #000;
					font-size: 14px;
					margin-top: 22px;
					margin-left: 2px;
					letter-spacing: 0.22px;
					font-family: 'Source Sans Pro', sans-serif;
					line-height: 20px;
					min-height: 200px;
				}

.not-found {
    padding-top: 50px;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
}

.signForm{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 293px;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 50px 0 50px 0;
}

	div.signForm h1 {
		font-size: 30px;
		letter-spacing: 1px;
		text-align: center;
		font-weight: 100;
		display: block;
	}
	
	.signForm h1.login {
		margin-bottom: 50px;
	}
	
	.signForm h1.reg {
		margin-bottom: 40px;
	}
	
	.signForm input {
		width: 		 100%;
		height: 	 45px;
		line-height: 45px;
		font-size:   14px;
		border-radius:  4px;
		border: 1px solid #d2d3d5;
		text-indent:    14px;
		display:        block;
		letter-spacing: 0.8px;
	}	
	
	.signForm input:focus {
		border: 1px solid #374e60;
	}
	
	.signForm input[type=email].reg {
		margin-bottom:  27px;
	}
	

	.signForm input.reg {
		margin-bottom:  8px;		
	}
	
	
	.signForm input.login {
		margin-bottom:  18px;
	}	
	
	.signForm input[type=submit] {
		text-indent:    0;
		width:   100%;
		height:  45px;
		line-height:   45px;
		font-size:     14px;
		border-radius: 4px;	
		background-color: #364fc6;
		color: #fff;
		border: none;
		font-weight: 600;
		letter-spacing: 0.3px;
		cursor: pointer;
		margin: 0;
	}	
	
	.signForm input[type=submit]:hover {
		background-color: #286090;
	}

	.signForm input[type=submit]:active {
		background-color: #1f4c73;
	}
	
	.signForm input[type=submit].reg{
		margin-top: 45px;
		margin-bottom: 45px;		
	}
	.signForm input[type=submit].login{
		margin-top: 55px;
		margin-bottom: 58px;		
	}
	.signForm a {
	    letter-spacing: 0.5px;
		font-size:  13px;
		color: 		#354fc6;
		border-bottom: 1px solid #a8b3e1;
		margin: 0 7px;
	}

	.signForm a.disabled{
		color: 		#808487;
		border-bottom: 1px solid #c3c7ca;		
	}
	
	.signForm .errorMSG {
	    font-size: 14px;
	    color: red;
	    
	}

/* Media Queries for smaller screen */			
		
@media only screen and (max-width: 1320px) {
    main .middle figure {
        margin: 35px 10px 10px 10px;
    }
    
    main .right_side {
        margin: 0 0 39px 0;
    }
        main .right_side .figure {
            margin: 0 10px 10px 10px;
        }
        main .right_side .figure:nth-child(even) {
            margin-left: 10px;
        }

}

@media only screen and (max-width: 768px) {
    aside {
        position: static;
        display: block;
        max-width: auto;
        min-width: 100%;
        min-height: auto;
        text-align: center;
        padding-bottom: 0;
    }
    
            aside .profile {
                padding-top: 30px;
            }
                aside .profile img {
                    display: block;
                    margin: 0 auto 12px auto;
                    cursor: pointer;
                }
                
                aside .profile img:hover { cursor: pointer; }
                
            aside .profile~a {
                margin: 0 auto 10px auto;
            }
            aside .log-in-out {
                position: static;
                width: 100%;
                margin-left: 33px;
                padding-top: 20px;
                margin-left: 0;
            }
        
            aside .menu {
                display: none;
            }
    header nav {
        display: none;
    }
    
    header .burger {
        left: auto;
        right: 25px;
    }

    body{
        min-width: 250px;
    }

    main {
        display: inline-block;
        top: auto;
        width: 100%;
        height: 100%;
        left: 0px;
        padding: 20px;
        margin: 0 auto;
    }
    
        main .middle .inbox{
           min-width: 250px;
        }
        
        
        main .middle, main .right_side {
            display: inline-block;
            width: 100%;
        }
        
        main .right_side #donutchart {
            position: relative;
            max-width: 512;
			width: 100%;
        }
        .showArticle .main.readArticle {
        	padding: 30px 30px 42px 30px;
        }
        .showArticle .main.editArticle {padding-bottom:70px;}
        .showArticle .main.editArticle button, 	.showArticle .main.readArticle a.edit {	position: absolute;right: auto; top: auto; left: 50%; transform: translateX(-50%); bottom: 15px; }
}

form.profUpload {
    position: fixed;
    display: inline;
    top: -1000px;
    left: -1000px;
    border: 10px solid #ff0;
    visibility: hidden;
}

form.profUpload input {
    position: fixed;
    top: -1000px;
    left: -1000px;
    display: inline-block;
    width: 100px;
    border: 10px solid #fff;
}
                

